userdebug_or_eng(`
	# Allows GCA-Eng to find and access the EdgeTPU.
	allow debug_camera_app edgetpu_app_service:service_manager find;
	allow debug_camera_app edgetpu_device:chr_file { getattr read write ioctl map };
')