# b/205657040
dontaudit convert-to-f2fs-sh kmsg_device:chr_file { open };
dontaudit convert-to-f2fs-sh kmsg_device:chr_file { write };
dontaudit convert-to-f2fs-sh modem_userdata_block_device:blk_file { open };
dontaudit convert-to-f2fs-sh modem_userdata_block_device:blk_file { read };
# b/205779877
dontaudit convert-to-f2fs-sh shell_exec:file { execute };
dontaudit convert-to-f2fs-sh shell_exec:file { getattr };
dontaudit convert-to-f2fs-sh shell_exec:file { map };
dontaudit convert-to-f2fs-sh shell_exec:file { read };
dontaudit convert-to-f2fs-sh toolbox_exec:file { execute };
dontaudit convert-to-f2fs-sh toolbox_exec:file { execute_no_trans };
dontaudit convert-to-f2fs-sh toolbox_exec:file { getattr };
dontaudit convert-to-f2fs-sh toolbox_exec:file { read open };
