# b/205073165
dontaudit hal_graphics_composer_default vendor_persist_sys_default_prop:file { getattr };
dontaudit hal_graphics_composer_default vendor_persist_sys_default_prop:file { map };
dontaudit hal_graphics_composer_default vendor_persist_sys_default_prop:file { open };
dontaudit hal_graphics_composer_default vendor_persist_sys_default_prop:file { read };
# b/205656937
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { ioctl };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { map };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { open };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { read };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { write };
