# b/207062564
dontaudit hal_power_default sysfs:file { open };
dontaudit hal_power_default sysfs:file { write };
dontaudit hal_power_default sysfs_vendor_sched:dir { search };
dontaudit hal_power_default sysfs_vendor_sched:file { open };
dontaudit hal_power_default sysfs_vendor_sched:file { write };
