# b/207062564
dontaudit hal_power_default sysfs:file { open };
dontaudit hal_power_default sysfs:file { write };
# b/208909174
dontaudit hal_power_default hal_power_default:capability { dac_read_search };
dontaudit hal_power_default sysfs:file { getattr };
dontaudit hal_power_default sysfs:file { read };
dontaudit hal_power_default sysfs_vendor_sched:file { getattr };
dontaudit hal_power_default sysfs_vendor_sched:file { read };
