# b/205073230
dontaudit hal_usb_impl vendor_usb_config_prop:file { getattr };
dontaudit hal_usb_impl vendor_usb_config_prop:file { map };
dontaudit hal_usb_impl vendor_usb_config_prop:file { open };
dontaudit hal_usb_impl vendor_usb_config_prop:file { read };
# b/207062542
dontaudit hal_usb_impl functionfs:dir { watch watch_reads };
# b/208527968
dontaudit hal_usb_impl sysfs_batteryinfo:dir { open };
dontaudit hal_usb_impl sysfs_batteryinfo:dir { read };
dontaudit hal_usb_impl sysfs_batteryinfo:dir { search };
dontaudit hal_usb_impl sysfs_batteryinfo:file { getattr };
dontaudit hal_usb_impl sysfs_batteryinfo:file { open };
dontaudit hal_usb_impl sysfs_batteryinfo:file { read };
