# b/208721677
# b/208909124
dontaudit hal_dumpstate_default boottime_public_prop:file { open };
dontaudit hal_dumpstate_default boottime_public_prop:file { read };
dontaudit hal_dumpstate_default debugfs:dir { open read };
dontaudit hal_dumpstate_default debugfs_f2fs:dir { search };
dontaudit hal_dumpstate_default debugfs_f2fs:file { open };
dontaudit hal_dumpstate_default debugfs_f2fs:file { read };
dontaudit hal_dumpstate_default debugfs:file { open };
dontaudit hal_dumpstate_default debugfs:file { read };
dontaudit hal_dumpstate_default property_type:file *;
dontaudit hal_dumpstate_default shell_data_file:file { getattr };
dontaudit hal_dumpstate_default sscoredump_vendor_data_crashinfo_file:dir { open read };
dontaudit hal_dumpstate_default sscoredump_vendor_data_crashinfo_file:dir search;
dontaudit hal_dumpstate_default sysfs_acpm_stats:dir { open };
dontaudit hal_dumpstate_default sysfs_acpm_stats:dir { read };
dontaudit hal_dumpstate_default sysfs_acpm_stats:dir { search };
dontaudit hal_dumpstate_default sysfs_acpm_stats:file { open };
dontaudit hal_dumpstate_default sysfs_acpm_stats:file { read };
dontaudit hal_dumpstate_default sysfs_aoc:dir { search };
dontaudit hal_dumpstate_default sysfs_aoc_dumpstate:file { open read };
dontaudit hal_dumpstate_default sysfs_batteryinfo:dir { open };
dontaudit hal_dumpstate_default sysfs_batteryinfo:dir { read };
dontaudit hal_dumpstate_default sysfs_batteryinfo:dir { search };
dontaudit hal_dumpstate_default sysfs_batteryinfo:file getattr;
dontaudit hal_dumpstate_default sysfs_batteryinfo:file { open };
dontaudit hal_dumpstate_default sysfs_batteryinfo:file { read };
dontaudit hal_dumpstate_default sysfs_bcl:dir { open };
dontaudit hal_dumpstate_default sysfs_bcl:dir { read };
dontaudit hal_dumpstate_default sysfs_bcl:dir { search };
dontaudit hal_dumpstate_default sysfs_bcl:file { getattr };
dontaudit hal_dumpstate_default sysfs_bcl:file open;
dontaudit hal_dumpstate_default sysfs_bcl:file { read };
dontaudit hal_dumpstate_default sysfs_chip_id:file { open };
dontaudit hal_dumpstate_default sysfs_chip_id:file { read };
dontaudit hal_dumpstate_default sysfs_exynos_bts:dir { search };
dontaudit hal_dumpstate_default sysfs_exynos_bts_stats:file { open };
dontaudit hal_dumpstate_default sysfs_exynos_bts_stats:file { read };
dontaudit hal_dumpstate_default sysfs:file { open };
dontaudit hal_dumpstate_default sysfs:file { read };
dontaudit hal_dumpstate_default sysfs_thermal:dir { open };
dontaudit hal_dumpstate_default sysfs_thermal:dir { read };
dontaudit hal_dumpstate_default sysfs_thermal:dir { search };
dontaudit hal_dumpstate_default sysfs_thermal:file { open };
dontaudit hal_dumpstate_default sysfs_thermal:file { read };
dontaudit hal_dumpstate_default sysfs_wifi:dir { search };
dontaudit hal_dumpstate_default sysfs_wifi:file { open };
dontaudit hal_dumpstate_default sysfs_wifi:file { read };
dontaudit hal_dumpstate_default sysfs_wlc:dir { search };
dontaudit hal_dumpstate_default sysfs_wlc:file { open read };
dontaudit hal_dumpstate_default vendor_battery_debugfs:dir { open read };
dontaudit hal_dumpstate_default vendor_battery_debugfs:dir search;
dontaudit hal_dumpstate_default vendor_battery_debugfs:file { getattr open read };
dontaudit hal_dumpstate_default vendor_camera_data_file:dir search;
dontaudit hal_dumpstate_default vendor_charger_debugfs:dir { open };
dontaudit hal_dumpstate_default vendor_charger_debugfs:dir { read };
dontaudit hal_dumpstate_default vendor_charger_debugfs:dir { search };
dontaudit hal_dumpstate_default vendor_charger_debugfs:file { getattr };
dontaudit hal_dumpstate_default vendor_charger_debugfs:file open;
dontaudit hal_dumpstate_default vendor_charger_debugfs:file { read };
dontaudit hal_dumpstate_default vendor_dmabuf_debugfs:file { open };
dontaudit hal_dumpstate_default vendor_dmabuf_debugfs:file { read };
dontaudit hal_dumpstate_default vendor_dumpsys:file { execute_no_trans };
dontaudit hal_dumpstate_default vendor_gps_file:dir { open read search };
dontaudit hal_dumpstate_default vendor_gps_file:file getattr;
dontaudit hal_dumpstate_default vendor_gps_file:file { open read };
dontaudit hal_dumpstate_default vendor_log_file:dir search;
dontaudit hal_dumpstate_default vendor_maxfg_debugfs:dir search;
dontaudit hal_dumpstate_default vendor_maxfg_debugfs:file { open read };
dontaudit hal_dumpstate_default vendor_pm_genpd_debugfs:file { open };
dontaudit hal_dumpstate_default vendor_pm_genpd_debugfs:file { read };
dontaudit hal_dumpstate_default vendor_rfsd_log_file:dir { open read search };
dontaudit hal_dumpstate_default vendor_rfsd_log_file:file { getattr open read };
dontaudit hal_dumpstate_default vendor_shell_exec:file { execute_no_trans };
dontaudit hal_dumpstate_default vendor_slog_file:file { getattr read };
dontaudit hal_dumpstate_default vendor_slog_file:file open;
dontaudit hal_dumpstate_default vendor_toolbox_exec:file { execute_no_trans };
dontaudit hal_dumpstate_default vendor_usf_reg_edit:file execute_no_trans;
dontaudit hal_dumpstate_default vendor_usf_stats:file execute_no_trans;
dontaudit hal_dumpstate_default vendor_votable_debugfs:dir { open read };
dontaudit hal_dumpstate_default vendor_votable_debugfs:dir search;
dontaudit hal_dumpstate_default vendor_votable_debugfs:file { getattr open read };
