# b/204718450
dontaudit hal_vibrator_default input_device:dir { open };
dontaudit hal_vibrator_default input_device:dir { read };
# b/207062207
dontaudit hal_vibrator_default proc_asound:dir { search };
dontaudit hal_vibrator_default proc_asound:file { getattr };
dontaudit hal_vibrator_default proc_asound:file { open };
dontaudit hal_vibrator_default proc_asound:file { read };
dontaudit hal_vibrator_default sysfs:file { getattr };
dontaudit hal_vibrator_default sysfs:file { open };
dontaudit hal_vibrator_default sysfs:file { read write };
