# b/202906786
dontaudit hal_usb_impl configfs:lnk_file { create };
dontaudit hal_usb_impl configfs:lnk_file { read };
dontaudit hal_usb_impl hal_usb_gadget_hwservice:hwservice_manager { add };
dontaudit hal_usb_impl hal_usb_gadget_hwservice:hwservice_manager { find };
dontaudit hal_usb_impl hal_usb_hwservice:hwservice_manager { add };
dontaudit hal_usb_impl hal_usb_hwservice:hwservice_manager { find };
dontaudit hal_usb_impl hidl_base_hwservice:hwservice_manager { add };
