# b/205072921
dontaudit hal_camera_default kernel:process { setsched };
# b/205780065
dontaudit hal_camera_default system_data_file:dir { search };
# b/205904406
dontaudit hal_camera_default init:unix_stream_socket { connectto };
dontaudit hal_camera_default property_socket:sock_file { write };
# b/218585004
dontaudit hal_camera_default traced:unix_stream_socket { connectto };
dontaudit hal_camera_default traced_producer_socket:sock_file { write };
