# b/204718449
dontaudit hal_sensors_default fwk_stats_service:service_manager { find };
# b/205657063
dontaudit hal_sensors_default aoc_device:chr_file { open };
dontaudit hal_sensors_default aoc_device:chr_file { read write };
# b/205780093
dontaudit hal_sensors_default mnt_vendor_file:dir { search };
dontaudit hal_sensors_default persist_file:dir { search };
dontaudit hal_sensors_default sensor_reg_data_file:dir { getattr };
dontaudit hal_sensors_default sensor_reg_data_file:dir { open };
dontaudit hal_sensors_default sensor_reg_data_file:dir { read };
# b/205904379
dontaudit hal_sensors_default chre:unix_stream_socket { connectto };
dontaudit hal_sensors_default chre_socket:sock_file { write };
dontaudit hal_sensors_default system_server:binder { call };
# b/207062541
dontaudit hal_sensors_default device:dir { open };
dontaudit hal_sensors_default device:dir { read };
dontaudit hal_sensors_default device:dir { watch };
dontaudit hal_sensors_default persist_sensor_reg_file:dir { getattr };
dontaudit hal_sensors_default persist_sensor_reg_file:dir { open };
dontaudit hal_sensors_default persist_sensor_reg_file:dir { read };
dontaudit hal_sensors_default persist_sensor_reg_file:dir { search };
dontaudit hal_sensors_default persist_sensor_reg_file:file { getattr };
dontaudit hal_sensors_default persist_sensor_reg_file:file { open };
dontaudit hal_sensors_default persist_sensor_reg_file:file { read };
dontaudit hal_sensors_default sysfs:file { open };
dontaudit hal_sensors_default sysfs:file { read };
dontaudit hal_sensors_default sysfs:file { write };
dontaudit hal_sensors_default sysfs_aoc:dir { search };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { getattr };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { open };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { read };
dontaudit hal_sensors_default sysfs_chosen:dir { search };
dontaudit hal_sensors_default sysfs_chosen:file { open };
dontaudit hal_sensors_default sysfs_chosen:file { read };
# b/207721033
dontaudit hal_sensors_default sensor_reg_data_file:dir { search };
dontaudit hal_sensors_default sensor_reg_data_file:file { getattr };
dontaudit hal_sensors_default sensor_reg_data_file:file { open };
dontaudit hal_sensors_default sensor_reg_data_file:file { read };
# b/208909175
dontaudit hal_sensors_default aoc_device:chr_file { getattr };
