# b/205780090
dontaudit kernel per_boot_file:file { read };
dontaudit kernel vendor_fw_file:dir { search };
dontaudit kernel vendor_fw_file:file { open };
dontaudit kernel vendor_fw_file:file { read };
