# b/205202541
dontaudit logger_app vendor_gps_prop:property_service { set };
dontaudit logger_app vendor_ssrdump_prop:file { getattr };
dontaudit logger_app vendor_ssrdump_prop:file { map };
dontaudit logger_app vendor_ssrdump_prop:file { open };
dontaudit logger_app vendor_ssrdump_prop:file { read };
# b/205779798
dontaudit logger_app radio_vendor_data_file:dir { getattr };
dontaudit logger_app radio_vendor_data_file:dir { open };
dontaudit logger_app radio_vendor_data_file:dir { read };
dontaudit logger_app radio_vendor_data_file:dir { remove_name };
dontaudit logger_app radio_vendor_data_file:dir { search };
dontaudit logger_app radio_vendor_data_file:dir { setattr };
dontaudit logger_app radio_vendor_data_file:dir { write };
dontaudit logger_app radio_vendor_data_file:file { unlink };
# b/206045604
dontaudit logger_app radio_vendor_data_file:dir { add_name };
dontaudit logger_app radio_vendor_data_file:dir { create };
dontaudit logger_app radio_vendor_data_file:dir { rmdir };
dontaudit logger_app radio_vendor_data_file:file { create };
dontaudit logger_app radio_vendor_data_file:file { getattr };
dontaudit logger_app radio_vendor_data_file:file { setattr };
dontaudit logger_app radio_vendor_data_file:file { write open };
dontaudit logger_app vendor_gps_file:dir { search };
# b/207062780
dontaudit logger_app vendor_gps_file:dir { getattr };
dontaudit logger_app vendor_gps_file:dir { open };
dontaudit logger_app vendor_gps_file:dir { read };
# b/207431041
dontaudit logger_app sysfs_vendor_sched:dir { search };
# b/207571546
dontaudit logger_app vendor_gps_file:dir { remove_name };
dontaudit logger_app vendor_gps_file:dir { write };
dontaudit logger_app vendor_gps_file:file { unlink };
# b/208721679
dontaudit logger_app vendor_default_prop:file { getattr };
dontaudit logger_app vendor_default_prop:file { map };
dontaudit logger_app vendor_default_prop:file { open };
dontaudit logger_app vendor_modem_prop:file { getattr };
dontaudit logger_app vendor_modem_prop:file { map };
dontaudit logger_app vendor_modem_prop:file { open };
dontaudit logger_app vendor_modem_prop:file { read };
dontaudit logger_app vendor_modem_prop:property_service { set };
