# b/204718809
dontaudit mediacodec_samsung system_server:fifo_file { append };
dontaudit mediacodec_samsung system_server:fifo_file { write };
# b/205657093
dontaudit mediacodec_samsung dmabuf_system_heap_device:chr_file { getattr };
dontaudit mediacodec_samsung vndbinder_device:chr_file { ioctl };
dontaudit mediacodec_samsung vndbinder_device:chr_file { map };
dontaudit mediacodec_samsung vndbinder_device:chr_file { open };
dontaudit mediacodec_samsung vndbinder_device:chr_file { read };
dontaudit mediacodec_samsung vndbinder_device:chr_file { write };
