# b/207062833
dontaudit priv_app vendor_default_prop:file { getattr };
dontaudit priv_app vendor_default_prop:file { map };
dontaudit priv_app vendor_default_prop:file { open };
# b/209329856
dontaudit priv_app vendor_apex_file:dir { search };
dontaudit priv_app vendor_apex_file:file { getattr };
dontaudit priv_app vendor_apex_file:file { open };
dontaudit priv_app vendor_apex_file:file { read };
