# b/207062833
dontaudit priv_app vendor_default_prop:file { getattr };
dontaudit priv_app vendor_default_prop:file { map };
dontaudit priv_app vendor_default_prop:file { open };
# b/210363938
dontaudit priv_app vendor_apex_file:dir { search };
dontaudit priv_app vendor_apex_file:file { getattr };
dontaudit priv_app vendor_apex_file:file { open };
dontaudit priv_app vendor_apex_file:file { read };
# b/220636850
dontaudit priv_app default_prop:property_service { set };
dontaudit priv_app init:unix_stream_socket { connectto };
dontaudit priv_app property_socket:sock_file { write };
