# b/205657132
dontaudit rlsservice aoc_device:chr_file { getattr };
dontaudit rlsservice aoc_device:chr_file { open };
dontaudit rlsservice aoc_device:chr_file { read write };
dontaudit rlsservice rls_device:chr_file { open };
dontaudit rlsservice rls_device:chr_file { read write };
dontaudit rlsservice vndbinder_device:chr_file { ioctl };
dontaudit rlsservice vndbinder_device:chr_file { map };
dontaudit rlsservice vndbinder_device:chr_file { open };
dontaudit rlsservice vndbinder_device:chr_file { read };
dontaudit rlsservice vndbinder_device:chr_file { write };
# b/205780186
dontaudit rlsservice apex_info_file:file { getattr };
dontaudit rlsservice apex_info_file:file { open };
dontaudit rlsservice apex_info_file:file { read };
dontaudit rlsservice apex_info_file:file { watch };
# b/205904324
dontaudit rlsservice vndservicemanager:binder { call };
dontaudit rlsservice vndservicemanager:binder { transfer };
# b/207062258
dontaudit rlsservice device:dir { read };
dontaudit rlsservice device:dir { watch };
dontaudit rlsservice sysfs:file { open };
dontaudit rlsservice sysfs:file { read };
# b/209705394
dontaudit rlsservice sysfs_display:file { open };
dontaudit rlsservice sysfs_display:file { read };
# b/213817228
dontaudit rlsservice mnt_vendor_file:dir { search };
dontaudit rlsservice persist_camera_file:dir { search };
dontaudit rlsservice persist_file:dir { search };
# b/214472869
dontaudit rlsservice sysfs_leds:dir { search };
dontaudit rlsservice sysfs_leds:file { open };
dontaudit rlsservice sysfs_leds:file { read };
