# b/205904207
dontaudit servicemanager citadeld:binder { call };
dontaudit servicemanager hal_camera_default:binder { call };
dontaudit servicemanager hal_fingerprint_default:binder { call };
