# b/205202542
dontaudit ssr_detector_app vendor_persist_sys_default_prop:file { getattr };
dontaudit ssr_detector_app vendor_persist_sys_default_prop:file { map };
dontaudit ssr_detector_app vendor_persist_sys_default_prop:file { open };
dontaudit ssr_detector_app vendor_persist_sys_default_prop:file { read };
# b/207571417
dontaudit ssr_detector_app cgroup:file { open };
dontaudit ssr_detector_app cgroup:file { write };
dontaudit ssr_detector_app sysfs:file { getattr };
dontaudit ssr_detector_app sysfs:file { open };
dontaudit ssr_detector_app sysfs:file { read };
dontaudit ssr_detector_app sysfs:file { write };
