# b/205072689
dontaudit surfaceflinger kernel:process { setsched };
# b/205779849
dontaudit surfaceflinger vendor_fw_file:dir { search };
dontaudit surfaceflinger vendor_fw_file:file { open };
dontaudit surfaceflinger vendor_fw_file:file { read };
