# b/207062779
dontaudit system_suspend_server sysfs:dir { open };
dontaudit system_suspend_server sysfs:dir { read };
dontaudit system_suspend_server sysfs:file { getattr };
dontaudit system_suspend_server sysfs:file { open };
dontaudit system_suspend_server sysfs:file { read };
dontaudit system_suspend_server sysfs_aoc:dir { open };
dontaudit system_suspend_server sysfs_aoc:dir { read };
dontaudit system_suspend_server sysfs_aoc:file { getattr };
dontaudit system_suspend_server sysfs_aoc:file { open };
dontaudit system_suspend_server sysfs_aoc:file { read };
