# b/221384996
dontaudit vendor_telephony_silentlogging_app system_app_data_file:dir { getattr };
dontaudit vendor_telephony_silentlogging_app system_app_data_file:dir { search };
