# b/205070818
dontaudit vendor_init vendor_nfc_prop:property_service { set };
dontaudit vendor_init vendor_secure_element_prop:property_service { set };
# b/205656950
dontaudit vendor_init thermal_link_device:file { create };
# b/206045605
dontaudit vendor_init vendor_modem_prop:file { getattr };
dontaudit vendor_init vendor_modem_prop:file { map };
dontaudit vendor_init vendor_modem_prop:file { open };
dontaudit vendor_init vendor_modem_prop:file { read };
