# b/204717520
dontaudit zygote activity_service:service_manager { find };
dontaudit zygote content_capture_service:service_manager { find };
dontaudit zygote default_android_service:service_manager { add };
dontaudit zygote default_android_service:service_manager { find };
dontaudit zygote game_service:service_manager { find };
dontaudit zygote nfc_service:service_manager { find };
dontaudit zygote radio_service:service_manager { find };
# b/205904384
dontaudit zygote adbd:unix_stream_socket { connectto };
dontaudit zygote nfc:binder { call };
dontaudit zygote servicemanager:binder { call };
dontaudit zygote system_server:binder { call };
dontaudit zygote system_server:binder { transfer };
# b/206045471
dontaudit zygote hal_uwb_vendor_default:binder { call };
dontaudit zygote hal_uwb_vendor_default:binder { transfer };
dontaudit zygote radio:binder { call };
dontaudit zygote user_profile_data_file:file { getattr };
dontaudit zygote vendor_file:file { execute };
dontaudit zygote vendor_file:file { getattr };
dontaudit zygote vendor_file:file { map };
dontaudit zygote vendor_file:file { open };
dontaudit zygote vendor_file:file { read };
