userdebug_or_eng(`
	# Allows camera app to access the GXP device.
	allow debug_camera_app gxp_device:chr_file rw_file_perms;

	# Allows camera app to search for GXP firmware file.
	allow debug_camera_app vendor_fw_file:dir search;
')
userdebug_or_eng(`
	# Allows GCA-Eng to find and access the EdgeTPU.
	allow debug_camera_app edgetpu_app_service:service_manager find;
	allow debug_camera_app edgetpu_device:chr_file { getattr read write ioctl map };
')