type sda_block_device, dev_type, bdev_type;
type devinfo_block_device, dev_type, bdev_type;
type modem_block_device, dev_type, bdev_type;
type custom_ab_block_device, dev_type, bdev_type;
type sg_device, dev_type;
