
pixel_bugreport(dump_gs201)
allow dump_gs201 debugfs_tracing_instances:dir r_dir_perms;
allow dump_gs201 debugfs_tracing_instances:file r_file_perms;

