# Allows camera app to access the GXP device.
allow google_camera_app gxp_device:chr_file rw_file_perms;

# Allows camera app to search for GXP firmware file.
allow google_camera_app vendor_fw_file:dir search;
