hal_client_domain(hal_fingerprint_default, hal_power)
add_hwservice(hal_fingerprint_default, hal_fingerprint_ext_hwservice)

allow hal_fingerprint_default fwk_stats_service:service_manager find;
allow hal_fingerprint_default block_device:dir search;
