type hal_secure_element_gto_ese2, domain;
type hal_secure_element_gto_ese2_exec, exec_type, vendor_file_type, file_type;

hal_server_domain(hal_secure_element_gto_ese2, hal_secure_element)
init_daemon_domain(hal_secure_element_gto_ese2)
