type mediacodec_samsung, domain;
type mediacodec_samsung_exec, vendor_file_type, exec_type, file_type;
init_daemon_domain(mediacodec_samsung)

hal_server_domain(mediacodec_samsung, hal_codec2)
add_service(mediacodec_samsung, eco_service)

# can route /dev/binder traffic to /dev/vndbinder
vndbinder_use(mediacodec_samsung)

allow mediacodec_samsung video_device:chr_file rw_file_perms;
allow mediacodec_samsung dmabuf_system_heap_device:chr_file r_file_perms;

# can use graphics allocator
hal_client_domain(mediacodec_samsung, hal_graphics_allocator)
