binder_use(pixelstats_vendor)

allow pixelstats_vendor sysfs_scsi_devices_0000:file rw_file_perms;
allow pixelstats_vendor sysfs_pixelstats:file r_file_perms;
