type vendor_telephony_debug_app, domain;
app_domain(vendor_telephony_debug_app)

allow vendor_telephony_debug_app app_api_service:service_manager find;
