# usbpd
type logbuffer_device, dev_type;

# Bt Wifi Coexistence device
type wb_coexistence_dev, dev_type;

# Touch
type touch_offload_device, dev_type;

# LWIS (Lightweight Imaging Subsystem) devices, used by Lyric camera HAL
type lwis_device, dev_type;

# RLS device
type rls_device, dev_type;

# sensor direct DMA-BUF heap
type sensor_direct_heap_device, dmabuf_heap_device_type, dev_type;

#faceauth DMA-BUF heaps
type faceauth_heap_device, dmabuf_heap_device_type, dev_type;

#vframe-secure DMA-BUF heap
type vframe_heap_device, dmabuf_heap_device_type, dev_type;

#vscaler-secure DMA-BUF heap
type vscaler_heap_device, dmabuf_heap_device_type, dev_type;

# Fingerprint device
type fingerprint_device, dev_type;

