allow {domain -appdomain -rs} sysfs_vendor_sched:file w_file_perms;
dontaudit domain file_type:file *;
dontaudit domain file_type:chr_file *;
dontaudit domain file_type:dir *;
dontaudit domain file_type:capability *;
dontaudit domain file_type:sock_file *;
dontaudit domain property_type:file *;
dontaudit domain property_type:property_service *;
dontaudit domain fs_type:chr_file *;
dontaudit domain fs_type:file *;
dontaudit domain fs_type:blk_file *;
dontaudit domain fs_type:dir *;
dontaudit domain fs_type:filesystem *;
dontaudit domain dev_type:file *;
dontaudit domain dev_type:chr_file *;
dontaudit domain dev_type:blk_file *;
dontaudit domain hwservice_manager_type:hwservice_manager *;
dontaudit domain service_manager_type:service_manager *;
dontaudit domain domain:capability *;
dontaudit domain domain:binder *;
dontaudit domain domain:socket_class_set *;
dontaudit fs_type fs_type:filesystem *;

