# Exynos Data Files
#type vendor_data_file, file_type, data_file_type;
type vendor_cbd_boot_file, file_type, data_file_type;

# app data files
type vendor_test_data_file, file_type, data_file_type;
type vendor_telephony_data_file, file_type, data_file_type;
type vendor_rpmbmock_data_file, file_type, data_file_type;

# Exynos debugfs
type vendor_ion_debugfs, fs_type, debugfs_type;
type vendor_page_pinner_debugfs, fs_type, debugfs_type, sysfs_type;
type vendor_mali_debugfs, fs_type, debugfs_type;
type vendor_dri_debugfs, fs_type, debugfs_type;

# Sensors
type nanohub_lock_file, file_type, data_file_type;
type sysfs_nanoapp_cmd, sysfs_type, fs_type;

# Fingerprint
type sysfs_fingerprint, sysfs_type, fs_type;

# IOMMU
type sysfs_iommu, sysfs_type, fs_type;

type sysfs_devicetree, sysfs_type, fs_type;
type sysfs_mem, sysfs_type, fs_type;

# Touch
type proc_touch, proc_type, fs_type, mlstrustedobject;

# Wireless
type sysfs_wlc, sysfs_type, fs_type;

# Charger
type sysfs_chargelevel, sysfs_type, fs_type;

type sysfs_spi, sysfs_type, fs_type;

# TODO(b/184768835): remove this once the bug is fixed
# LHBM (Local High Brightness Mode)
type sysfs_lhbm, sysfs_type, fs_type, mlstrustedobject;

# UWB vendor
type uwb_vendor_data_file, file_type, data_file_type, app_data_file_type;

