set_prop(vendor_init, vendor_device_prop)
set_prop(vendor_init, vendor_modem_prop)
set_prop(vendor_init, vendor_rild_prop)
set_prop(vendor_init, vendor_usb_config_prop)
set_prop(vendor_init, vendor_slog_prop)
get_prop(vendor_init, vendor_touchpanel_prop)
set_prop(vendor_init, vendor_tcpdump_log_prop)
set_prop(vendor_init, vendor_thermal_prop)

allow vendor_init proc_dirty:file w_file_perms;
allow vendor_init proc_sched:file write;

userdebug_or_eng(`
  set_prop(vendor_init, logpersistd_logging_prop)
')

# Battery defender/harness/profile
get_prop(vendor_init, test_harness_prop)
set_prop(vendor_init, vendor_battery_defender_prop)

# Fingerprint property
userdebug_or_eng(`
  set_prop(vendor_init, vendor_fingerprint_fake_prop)
')
