type hal_identity_citadel, domain;
type hal_identity_citadel_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(hal_identity_citadel)
hal_server_domain(hal_identity_citadel, hal_identity)
allow hal_identity_citadel citadeld_service:service_manager find;
